.authors-item {
  display: flex;
  gap: 9px;
  align-items: center;

  &__btn {
    background-color: transparent;
    padding: 10px;
    &:hover {
      background-color: #007298;

      .icon svg {
        path {
          fill: white;
          stroke: white;
        }
      }
    }

    .icon {
      width: 13px;
      height: 13px;
      svg {
        path {
          fill: #333E48;
          stroke: #333E48;
        }
      }

      
  }
  }

}