.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    padding: 12px 30px 15px 37px;
    min-height: 80px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.15);

    &__login {
        display: flex;
        align-items: center;
        gap: 25px;
    }
    &__user-name {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px; 
    }
}