.create-course {
  background-color: #F7F7F7;

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 24px;
    padding: 0;
    border: 0;
  }

  &__form {
    margin-top: 45px;
  }

  &__form-group {
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
  }

  &__form-container {
    padding: 42px 80px;
    background-color: white;
    > *:not(:last-child) {
      margin-bottom: 34px;
    }
  }

  &__authors-list {
    display: flex;
    justify-content: space-between;
  }

  &__create-author {
    height: 50px;
  }

  &__textarea {
    textarea {
      width: 100%;
      font-family: 'Open Sans', sans-serif;
    }
  }

  &__input--full-width {
    input {
      width: 100%;
    }
  }

  &__action-btns {
    display: flex;
    justify-content: end;
    gap: 20px;

    .button {
      width: 187px;
    }
  }
}